<h1>Bonjour !</h1>

<p>
    Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :
    <br><br>
    <a href="{{ url('app_reset_password', {token: resetToken}) }}">{{ url('app_reset_password', {token: resetToken}) }}</a>
    <br><br>
    Ce lien expirera dans 1 heure.
</p>

<p>
    Cordialement,<br>
    L'équipe SmartWaste
</p> 