<form method="post" action="{{ path('app_signalement_delete', {'id': signalement.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce signalement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ signalement.id) }}">
    <button class="btn btn-outline-danger">
        <i class="fas fa-trash"></i> Supprimer
    </button>
</form> 